@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

body{
  font-family: 'EB Garamond', serif;
  background-color: darkseagreen;
}

nav{
  width: 100%;
  height: 0 auto;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 100px;
  margin-right: 100px;
}
nav ul li a{
  text-decoration: none;
  color: black;
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
}

nav ul li a:hover{
  background-color: burlywood;
}

#h1{
  text-align: center;
  font-size: 60px;
}

#h2{
  text-align: center;
}

#click{
  text-align: center;
}

#about{
  text-align: center;
}
