@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP|Roboto');


#header{
  background-color: green;
  font-family: sans-serif;
}

#main{
  background-color: orange;
}

#footer{
  background-color: white;
  font-family: sans-serif;
}

#body{
  background-color: orange;
  background-color: #333333;
  background-color: rgb(0,255,0);
  font-family: sans-serif;
}
#name{
  text-align: center;
  background-color: cyan;
}
h1{
  color: pink;
  background-color: blue;
}

h2{
  color: green;
}


a{
  text-decoration: none;
  color: purple;
  font-weight: 900;
}
a:hover{
  color: white;
  text-decoration: underline;
}
a:visited{
  color: red;
}
p{
  line-height: 75px;
  text-indent: 50px;
}
ul li{
  list-style: none;
}


.links{
  color: cyan;
}
